body  {
  margin: 0;
  color: #40514e;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #eaf6f6;
  padding-top: 100px;
  position: relative;
}

h1  {
  margin: 50px auto 0 auto;
  color: #66bfbf;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
} 

h2  {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 10px;
}

span  {
  text-decoration: underline;
}

.rule  {
  width: 10%;
  border: dotted 6px #999;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

h3  {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

h3, a  {
  color: #11999e;
}

p  {
  line-height: 2;
}

.profile-text  {
  width: 30%;
  margin: auto;
}

.top-cloud  {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud  {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.mepic  {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 20px;
}

.middle-container  {
  margin: 100px 0;
}

.skill-row  {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.computer  {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chille  {
  width: 25%;
  float: right;
  margin-left: 30px; 
}

.contact-me  {
  height: 100%;
  margin-bottom: 100px;
}

.contact-message  {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 18px;
  background: #66bfbf;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
}

.btn:hover {
  background: #0fa3a3;
  text-decoration: none;
}

.bottom-container  {
  background-color: #66bfbf;
  padding: 30px;
}

.footer  {
  color: #eaf6f6;
  font-size: 0.75;
  padding: 20px 0;
}

.footer-link  {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin: 20px;
}

.footer-link:hover  {
  color: #0fa3a3;
}

